<main class="main-block">
  <h1>Url Blocker</h1>
  <section class="container" [ngSwitch]="state">
    <ng-container *ngSwitchCase="tab.login">
      <h3>Sign In</h3>
      <div class="form-container" [formGroup]="signInForm">
        <div class="form-block">
          <label for="email">Email</label>
          <input type="text" [formControlName]="'email'" name="email">
          <ng-container *ngIf="this.signInForm.controls['email'].errors?.['email']">
            <span class="input-error">Wrong email</span>
          </ng-container>
          <ng-container *ngIf="this.signInForm.controls['email'].errors?.['required']">
            <span class="input-error">This field is required</span>
          </ng-container>
        </div>

        <div class="form-block">
          <label for="password">Password</label>
          <input type="password" [formControlName]="'password'" name="password">
          <ng-container *ngIf="this.signInForm.controls['password'].errors?.['required']">
            <span class="input-error">This field is required</span>
          </ng-container>
        </div>
        <button class="enter-button" (click)="signIn()">Enter</button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="tab.registration">
      <h3>Sign Up</h3>
      <div class="form-container" [formGroup]="signUpForm">
        <div class="form-block">
          <label for="email">Email</label>
          <input type="text" [formControlName]="'email'" name="email">
          <ng-container *ngIf="this.signUpForm.controls['email'].errors?.['email']">
            <span class="input-error">Wrong email</span>
          </ng-container>
          <ng-container *ngIf="this.signUpForm.controls['email'].errors?.['required']">
            <span class="input-error">This field is required</span>
          </ng-container>
        </div>

        <div class="form-block">
          <label for="password">Password</label>
          <input type="password" [formControlName]="'password'" name="password">
          <ng-container *ngIf="this.signUpForm.controls['password'].errors?.['required']">
            <span class="input-error">This field is required</span>
          </ng-container>
        </div>
        <button class="enter-button" (click)="signUp()">Enter</button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="tab.blocker">
      <h3>Write url</h3>
      <div>
        <input type="text" [(ngModel)]="currUrl">
        <button (click)="addUrlToUser()">Add</button>
      </div>
      <div class="urls-list">
        <p *ngFor="let url of user.url">{{url}} <span>x</span></p>
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <div class="buttons-container">
        <button class="signIn-button" (click)="goToSignInTab()">SignIn</button>
        <button class="signUp-button" (click)="goToSignUpTab()">SignUp</button>
      </div>
    </ng-container>
  </section>
</main>
